{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h3>Pagina de Universidades</h3>

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Opciones</h1>
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/getInfo/universidades/formulario/">Crear</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="/getInfo/universidades/buscar/">Buscar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}